.row
  .col-md-6.col-md-offset-3
    %h1= @workout_plans.name
.row
  .col-md-6.col-md-offset-3
    = @workout_plans.description
.row
  .col-md-6.col-md-offset-3
    = render partial: 'workout_plans/round', collection: @workout_plans.rounds
.row
  .col-md-6.col-md-offset-3
    = render partial: 'rounds/form'